
@model CodeFirstSignup_Login.Models.Employee

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Employee</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Department.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Department.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EmployeeName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EmployeeName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EmployeeEmail)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EmployeeEmail)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EmployeeSalary)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EmployeeSalary)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
	@Html.ActionLink("Back to List", "Index")
</p>