@model CodeFirstSignup_Login.Models.UserProfile

@{
	ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-lable col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-lable col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-lable col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-10">
				<input type="submit" value="Save Changes" class="btn btn-light" />
				@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
			</div>
		</div>
	</div>
}

@if (ViewBag.Message != null)
{
	<div class="alert alert-success alert-dismissible">
		@ViewBag.Message
		<a class="close" data-dismiss="alert">x</a>
	</div>
}